{{ define "main" }}
<article>
  <h1>{{ .Title }}</h1>
  <div class="post-meta">
    <time datetime='{{ .Date.Format "2006-01-02" }}' style="font-size: 0.9em; color: #666;">
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
    {{ if .Params.tags }}
    <span class="tags">
      {{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}/" class="tag">#{{ . }}</a>
      {{ end }}
    </span>
    {{ end }}
  </div>
  
  <content>
    {{ .Content }}
  </content>
  
  <hr style="margin-top: 2em;">
  
  <p style="text-align: center;">
    <a href="/posts/">← Back to all posts</a>
  </p>
</article>
{{ end }}